# Core dependencies
numpy==1.23.5
wheel>=0.38.0
setuptools>=65.5.1

# ML and data processing
pandas>=1.5.3
scikit-learn==1.0.0
tensorflow==2.16.1

# Visualization and UI
streamlit==1.24.0
plotly==5.15.0
tqdm>=4.65.0